.blue {
  background-color: blue;
}

.white {
  background-color: white;
}

.red {
  background-color: red;
}

.black {
  background-color: black;
}

.green {
  background-color: green;
}

.yellow {
  background-color: yellow;
}

.grey {
  background-color: grey;
}

.colorField {
  border-style: solid;
  border-width: 1px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  justify-self: center;
}

.isDragging {
  opacity: 0.5;
}

.selectionField {
  border-style: solid;
  border-width: 1px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  justify-self: center;
}

.isOver {
  border-style: dashed;
}

.colorPalette {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
}

.selectionPalette {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  width: 200px;
  margin: auto;
}

.prevGuessField {
  border-style: solid;
  border-width: 1px;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  justify-self: center;
}

.prevGuess {
  display: grid;
  width: 200px;
  margin: auto;
  grid-template-columns: repeat(4, 1fr);
}

.clueField {
  border-style: solid;
  border-width: 1px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
}

.cluesLeft {
  float: left;
}

.cluesRight {
  float: right;
}

.clues {
  width: 200px;
  height: 20px;
  margin: auto;
}

.controls {
  height: 20%;
}

.board {
  height: 80%;
}
